body{
    background-image: url("resource/background.jpg");
    background-size: cover;    margin: 0
}
.logo,#winner
{
    font-size: 13vmin;
    margin: 0 0 0 0 ;
    width: -webkit-fill-available;
    text-align: center;
    color: white;
}
.win
{    
    display: none;
    width: -webkit-fill-available;
    text-align: center;
    margin: 10vmin 0 0 0;
}
.container{
    margin : 0vmin 0 0 0;   
    display: grid;
    justify-content: center;
}
.boxes{
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vmin;
    background-color:rgba(245, 237, 237, 0.08);
    border-radius: 10%;
}
#box{
    width:18vmin;
    height: 18vmin;
    background-color:transparent;
    margin: 1vmin;
    border-radius: 25%;
    font-size:13vmin;
    text-align: center;
    border: 1vmin black solid;
    -webkit-text-fill-color: white;
}
#Reset,#newGame
{
    width: 22vmin;
    font-size: 3vmin;
    padding: 2vmin;
    background-color:#edeff23f;
    color: #FFFFCC;
    margin: 5vmin;
    border-radius: 10%;
    border: 0;
    -webkit-text-stroke: 1px rgba(255, 255, 0, 0.342);
}
